name: Build-docs

on:
  push:
  pull_request:

jobs:
  build_job:
    runs-on: ubuntu-latest
    name: Build documentation
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Commit documentation changes
        run: |
          git clone https://github.com/edi33416/DSS-gh-pages.git github-pages
          if test ${{ github.ref}} == 'refs/heads/master'; then
          cp -r docs/* github-pages/docs
          else
          mkdir -p github-pages/${{ github.ref }}
          cp -r docs/* github-pages/${{ github.ref }}
          fi
          cd github-pages/
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m 'Update "${{ github.ref }}"' -a || true
          git push https://${{ secrets.GH_PG_ACCESS_TOKEN }}@github.com/edi33416/DSS-gh-pages.git

      - name: Add comment to PR
        if: github.event_name == 'pull_request'
        env:
          URL: ${{ github.event.pull_request.comments_url }}
          GITHUB_TOKEN: edi33416:${{ secrets.GH_PG_ACCESS_TOKEN }}
        run: |
          curl \
            -X POST \
            -u $GITHUB_TOKEN \
            $URL \
            -H "Content-Type: application/json" \
            --data '{ "body": "Published at https://edi33416.github.io/DSS-gh-pages/${{ github.ref }}" }'
